*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel';
    overflow-y: scrol;
}

body{
    background-color: #232323;
    overflow: hidden;
    padding:10px;
}


.page{
    display: flex;
    flex-direction: column;
}
.nav-bar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    font-size: 32px;
    
}

.nav-bar a {
    color: white;
    text-decoration: none;
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.nav-bar a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 0.4em;
    
 }

.side-bar{
    height:100%;
    width: 20%;
    color: white;
    display: flex;
    padding:20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.element-filtre{
    padding:20px;
}


.content{
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.artists{
    border-left: 0.5px solid white;
    height: calc(100vh - 70px);
    width: 80%;
    overflow: hidden;
    overflow-y: scroll;
}

.artists::-webkit-scrollbar {
    width: 0px;
}
  
.artist-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}

.gradient{
    position: absolute;
    height: 20%;
    /* border:4px solid red; */
    width: 78%;
    background: rgb(35,35,35);
    background: linear-gradient(0deg, rgba(35,35,35,0) 82%, rgba(35,35,35,1) 100%);
}

.gradient-2{
    position: absolute;
    /* border: 2px solid blue; */
    top:92%;
    width: 78%;
    height: 10%;
    background: rgb(35,35,35);
    background: linear-gradient(0deg, rgba(35,35,35,1) 30%, rgba(35,35,35,0) 81%);
}

label {
    font-weight: bold;
}

.name{
    font-size: 15px;
    padding: 12px;
    padding-left: 24px;
    inset:0;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: background 0.3s ease-in-out, visible 0.3s;
}
.name p:first-child{
    font-weight: bold;
    font-size: 18px;
}

.name p:nth-child(3){
    font-size: 18px;
}

.artist:hover .name {
    background: rgba(0, 0, 0, 0.56);
    backdrop-filter: blur(5px);
    visibility: visible;
}
.artist{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.artist img {
    transform: scale(1);
    /* z-index: 1; */
    /* border-radius: 12px; */
    transition: transform 0.4s;
}

.artist:hover img {
    transform: scale(1.3);
    /* z-index: 1; */
    /* border-radius: 12px; */
    transition: transform 0.4s;
}