* {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel';
}

p {
    color: white;
}

#page-div {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url("/ressources/img/background-co-crea.png");
    background-repeat: no-repeat, repeat-y;
    background-position: center;
    background-size: cover;
}

.back-to-home {
    position: absolute;
    right: 20px;
    width: 10%;
    height: 10%;
    margin: 20px;
    font-size: 18px;
    color: white;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.4em;
}

.back-to-home:hover {
    text-decoration-color: white;
    text-underline-offset: 0.4em;
    transition: 0.4s;
}

#image-div {
    display: flex;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#main-div {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#art-div {
    display: flex;
    height: 100%;
    width: 19%;
}

#co-text {
    display: flex;
    height: 18%;
    width: 47%;
    font-size: 400%;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    height: 70%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#tab {
    display: flex;
    width: 35%;
    height: 100%;
}

#login-placement {
    display: flex;
    height: 80%;
    width: 100%;
}

form {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

#userentry {
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#etc {
    display: flex;
    height: 37%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#mail::placeholder {
    color: white;
}

#pwd::placeholder {
    color: white;
}

input[type=text],
input[type=password] {
    background: unset;
    border: none;
    border-bottom: 3px solid rgb(70, 70, 70);
    height: 35%;
    text-align: center;
    font-size: 165%;
    transition: 500ms;
    color: white;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
    color: white;
    opacity: 0.70;
    transition: 500ms;
}

input[type=text]:focus,
input[type=text]:hover {
    color: white;
    outline: none;
    width: 50%;
}

input[type=password]:focus,
input[type=password]:hover {
    color: white;
    outline: none;
    width: 65%;
}

input[type=text]:focus::placeholder,
input[type=text]:hover::placeholder {
    color: white;
    opacity: 0.35;
}

input[type=password]:focus::placeholder,
input[type=password]:hover::placeholder {
    color: white;
    opacity: 0.35;
}

#email,
#password {
    color: white;
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error {
    color: red;
}

input[type=text] {
    width: 40%;
}

input[type=password] {
    width: 55%;
}

#div-acc {
    display: flex;
    color: white;
}

#createacc {
    color: white;
    opacity: 70%;
}

#submit {
    display: flex;
    width: 20%;
    height: 70%;
    background: none;
}

#labelsubmit {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    display: flex;
    width: 60px;
    height: 60px;
    background-image: url("/ressources/img/icon-check.png");
    background-size: 100%;
    border-radius: 50%;
    border: none;
    transition: 350ms;
}

input[type=submit]:hover {
    transform: scale(1.2);
}