* {
    margin: 0;
    padding: 0;
}

#main-page {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: red;
}

#flex-page {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("/ressources/img/background-connexion.png");
    background-position: center;
    background-size: cover;
}