* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html {
    font-family: 'Cinzel';
    height: 100%;
    background-color: white;
    scroll-behavior: smooth;
    overflow: hidden;
}
.div-artist{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bg {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%;
    background-color: white;
}

#top-page{
    /* border: 4px solid gold; */
    background-color: #232323;
    display: flex;
    align-items: center;
    height: 100vh;
}
.pA-img {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.h_name{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.5px;
    
}

.h_name-spot{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 0.5px;
    
    margin-bottom: 20px;
}
.h2 {
    justify-content: center;
    line-height: 25px;
    /* text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 0.5px; */
}
.img {
    /* border: 6px solid purple; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player{
    margin:5px;
    width:90%;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    /* border: 5px solid red; */
}


.art-page{
    height: 200vh;
    display: flex;
    flex-direction: column;
}
.img-artist{
    margin-top: 20px;
    width: 50%;
    -webkit-box-shadow: 0px 0px 15px 0.5px grey; 
    box-shadow: 0px 0px 15px 0.5px grey;
} 
.left-text{

    background-color: #2F2F2F;
    padding : 5px;
    border: 0.5px solid grey;
    -webkit-box-shadow: 0px 0px 15px 0.5px grey; 
    box-shadow: 0px 0px 15px 0.5px grey;
    color: white;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    line-height: 50px;
    /* height: 60%; */
    width: 60%;
    margin-bottom: 20px;
}

.left-part{
    border-right: 0.5px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width:50%;
}
.right-part{
    font-size:12px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 #grp {
    background-color: #232323;
    color: white;
    font-family: 'Cinzel';
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
 }

 .FA{
     margin: 40px;
 }

 .popo{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 100%;
     height: 100%;
     /* border: 4px solid blue; */
 }

 .more-info {
    margin-top: 200px;
    font-size:18px ;
    color: white;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.4em;
 }

 .more-info:hover {
    text-decoration-color: white;
    text-underline-offset: 0.4em;
    transition:0.4s;
 }

 .popo:hover .more-info{
     transition: 0.4s;
 }

 .back-to-home{
    /* margin-top: 200px; */
    font-size:18px ;
    color: white;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.4em;
 }

 .back-to-home:hover{
    text-decoration-color: white;
    text-underline-offset: 0.4em;
    transition:0.4s;

 }
 .sidebar:hover .back-to-home{
    transition: 0.4s;
}


 .spot-link{
    font-size:14px ;
    font-weight: bold;
    color: white;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.4em;
 }

 .spot-link:hover{
    text-decoration-color: white;
    text-underline-offset: 0.4em;
    transition: 0.4s;
 }

 .right-part:hover .spot-link{
    transition: 0.4s;
}
 .back-to-artist{
    margin-top: 100px;
    font-size:18px ;
    color: white;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.4em;
 }

 .Bio{
     display: flex;
     flex-direction: column;
     width: 60%;
     padding:15px;
     font-size: 16px;
 }

 .back-to-artist:hover{
    text-decoration-color: white;
    text-underline-offset: 0.4em;
    transition: 0.4s;
 }

 .sidebar:hover .back-to-artist{
    transition: 0.4s;
}
 .bottom-info{
     display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
     border-right: 0.5px solid white;
     line-height: 50px;
     width: 40%;
 }
 .rel{
    /* border: 2px solid red; */
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    margin-right: 20px;
    border-right: 0.5px solid white;
 }

 .rel::-webkit-scrollbar{
     width: 0px;
 }

 .rel:hover{
     transition: .5s ease-in-out;
    height: 75vh;

 }

 
 .bottom-page:hover .rel{
     transition: 0.5s;
 }

.stat{
    font-weight: lighter;
  line-height: 40px;
  margin-bottom: 20px;
}
 .genre{
     line-height: 20px;
    font-size: 15px;
 }
 #concert-map{
     display: flex;
     flex-direction: row;
    padding: 10px;
     color: white;
     background-color: #232323;
     height: 100vh;
     /* border : 4px solid blue; */
 }
 #map { 
     height: 50%; 
     width: 50%;
     margin-left: 20px;
     -webkit-box-shadow: 0px 0px 15px 0.5px grey; 
     box-shadow: 0px 0px 15px 0.5px grey;
    }

.concert-button{

    font-size:18px ;
    color: white;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.4em;
}
.concert-button:hover {
    text-decoration-color: white;
    text-underline-offset: 0.4em;
    transition: 0.4s;
 }
 #grp:hover .concert-button{
    transition: 0.4s;
}

.papa{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    /* border: 4px solid yellow; */
}

.back-to-top{
    height: 10%;
    font-size:18px ;
    color: white;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 0.4em;
}

.back-to-top:hover {
    text-decoration-color: white;
    text-underline-offset: 0.4em;
    transition: 0.4s;
 }

 #concert-map:hover .back-to-top{
    transition: 0.4s;
}

 .bottom-page{
     /* border: 4px solid purple; */
     width: 90%;
     height: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 
input[type="checkbox"] {
    display: none;
}


input[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    font-size: 16px;
}
 
input[type="checkbox"] + label:before {
    content: "\1F5A4";
    top: -11px;
    left: -8px;
    border: 1px solid transparent;    
    padding: 10px;
    border-radius: 3px;
    display: block;
    position: absolute;
	transition:  .5s ease;
}
 

 
input[type="checkbox"]:checked + label:before {
    border: 1px solid transparent;
    background-color: transparent;
}
 
input[type="checkbox"]:checked + label:after {
    content: '\1F49B';
    font-size: 18px;
    position: absolute;
    top: -1px;
    left: 1px;
	color: pink;
	transition:  .5s ease;
}