 * {
     margin: 0;
     padding: 0;
     font-family: 'Cinzel';
 }
 
 ::-webkit-scrollbar {
     width: 10px;
 }
 
 ::-webkit-scrollbar-track {
     background: #f1f1f1;
 }
 
 ::-webkit-scrollbar-thumb {
     background: #555;
 }
 
 ::-webkit-scrollbar-thumb:hover {
     background: #333;
 }
 
 html {
     scroll-behavior: smooth;
 }
 
 a {
     text-decoration: none;
 }
 
 h2 {
     font-family: "Cinzel";
     font-size: 50px;
 }
 
 h4 {
     font-size: 20px;
 }
 
 #main-flex {
     display: flex;
     height: 300vh;
     width: 100%;
     flex-direction: column;
     z-index: 1;
 }
 
 #main-page {
     display: flex;
     height: 100vh;
     width: 100%;
     flex-direction: column;
     background-image: url("/ressources/img/Cassette.png");
     background-position: center;
     background-size: cover;
 }
 
 #div-button-container {
     display: flex;
     height: 15%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.25);
     justify-content: center;
     align-items: center;
     z-index: 1;
 }
 
 .ul-head {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     height: 100%;
 }
 
 .a {
     font-family: "Cinzel";
     font-size: 35px;
     color: #fff;
     transition: 600ms;
 }
 
 .a:hover {
     text-decoration: underline;
 }
 
 #second-page {
     display: flex;
     flex-direction: column;
     height: 200vh;
     width: 100%;
     background-image: url("/ressources/img/background-main-page.png");
     background-attachment: fixed, scroll;
     background-repeat: no-repeat, repeat-y;
     background-position: center;
     background-size: cover;
 }
 
 .div-top {
     display: flex;
     height: 50%;
     width: 100%;
     flex-direction: column;
 }
 
 .top-artist-div {
     display: flex;
     height: 15%;
     width: 100%;
 }
 
 .top-artist-title {
     display: flex;
     height: 100%;
     width: 30%;
     margin-left: 1%;
     justify-content: center;
     align-items: center;
 }
 
 .title-top {
     font-size: 300%;
     color: #fff;
 }
 
 .top-classement-div {
     display: flex;
     flex-direction: column;
     height: 85%;
     width: 100%;
 }
 
 .classement {
     display: flex;
     height: 80%;
     width: 100%;
 }
 
 .top1 {
     display: flex;
     height: 100%;
     width: 33%;
     flex-direction: column;
 }
 
 .top2 {
     display: flex;
     height: 100%;
     width: 33%;
     flex-direction: column;
 }
 
 .top3 {
     display: flex;
     height: 100%;
     width: 34%;
     flex-direction: column;
 }
 
 .img-div1 {
     display: flex;
     height: 60%;
     width: 100%;
     justify-content: center;
     align-items: center;
 }
 
 .img-artist {
     -webkit-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
 }
 
 .img-div2 {
     display: flex;
     height: 70%;
     width: 100%;
     justify-content: center;
     align-items: center;
 }
 
 .name-followers-div1 {
     display: flex;
     height: 40%;
     width: 100%;
     flex-direction: column;
 }
 
 .name-followers-div2 {
     display: flex;
     height: 40%;
     width: 100%;
     flex-direction: column;
 }
 
 .info1 {
     display: flex;
     height: 15%;
     width: 100%;
     justify-content: center;
     color: #fff;
 }
 
 .info2 {
     display: flex;
     height: 15%;
     width: 100%;
     color: #fff;
     justify-content: center;
 }
 
 .search-more {
     display: flex;
     height: 20%;
     width: 100%;
 }
 
 .search-more {
     display: flex;
     width: 100%;
     justify-content: flex-end;
 }
 
 .search_bar {
     display: flex;
     width: 40%;
     justify-content: center;
     align-items: center;
     font-family: 'Cinzel';
     font-size: 18px;
     border: none;
 }
 
 .search-bar {
     align-items: center;
 }
 
 input[type=text] {
     background: unset;
     border: none;
     border-bottom: 3px solid white;
     height: 35%;
     text-align: center;
     font-size: 165%;
     width: 85%;
     transition: 500ms;
     color: white;
     width: 100%;
 }
 
 input[type=text]::placeholder {
     color: white;
     opacity: 0.70;
     transition: 500ms;
 }
 
 input[type=text]:focus,
 input[type=text]:hover {
     color: white;
     outline: none;
     width: 110%;
 }
 
 input[type=text]:focus::placeholder,
 input[type=text]:hover::placeholder {
     color: white;
     opacity: 0.35;
 }
 
 .search_input {
     display: flex;
     width: 75%;
     align-items: center;
 }
 
 .more-div {
     display: flex;
     width: 40%;
     align-items: center;
 }
 
 .more {
     color: white;
     font-size: 200%;
 }
 
 .more:hover {
     text-decoration: underline;
 }
 
 #use {
     display: flex;
     height: 50%;
     width: 100%;
     flex-direction: column;
 }
 
 .div-bot-title {
     display: flex;
     height: 15%;
     width: 100%;
 }
 
 .bot-about-title {
     display: flex;
     height: 100%;
     width: 30%;
     margin-left: 1%;
     justify-content: center;
     align-items: center;
 }
 
 .title-about {
     font-size: 300%;
     color: #fff;
 }
 
 .div-about-main {
     display: flex;
     height: 85%;
     width: 100%;
     justify-content: center;
 }
 
 .div-about {
     display: flex;
     height: 85%;
     width: 90%;
     background-color: rgba(0, 0, 0, 0.50);
     -webkit-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
 }
 
 .about-gauche {
     display: flex;
     height: 100%;
     width: 50%;
     flex-direction: column;
 }
 
 .p-about {
     display: flex;
     height: 20%;
     width: 100%;
     font-size: 200%;
     justify-content: center;
     align-items: flex-end;
     color: white;
     text-decoration: underline;
 }
 
 .ul-li-about {
     display: flex;
     height: 80%;
     width: 100%;
     align-items: center;
     align-content: space-between;
     justify-content: center;
 }
 
 .li-about {
     margin: 15%;
     color: #fff;
 }
 
 .about-droite {
     display: flex;
     justify-content: center;
     height: 100%;
     width: 50%;
     flex-direction: column;
     background-color: rgb(170, 136, 224);
 }
 
 .li-about-droite {
     margin: 8%;
     color: #fff;
 }
 
 a:hover {
     text-decoration: underline;
     color: white;
 }