*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
li{
    list-style: none;
}

#main-flex{
    display: flex;
    height: 400vh;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    
}
#main-page{
    display: flex;
    height: 200%;
    width: 100%;
    flex-direction: column;
     background-image: url("/ressources/img/Cassette.png"); 
     background-position: center;
     background-size: cover;
}

#div-button-container{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}
.a{
    font-family: "Cinzel";
    font-size: 40px;
    color: #fff;
}




#second-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:600%;
    width: 100%;
    background-image: url("/ressources/img/Foret2.png");
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    
}

#artist1{
    display: flex;
    height: 40%;
    width: 90%;
    background-color: red;
    justify-content: center;
    align-items: center;
}
#artist2{
    display: flex;
    margin-top: 3%;
    height: 40%;
    width: 90%;
    background-color: black;
    justify-content: center;
    align-items: center;
}
#artist3{
    display: flex;
    margin-top: 3%;
    height: 40%;
    width: 90%;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.gauche{
    display: flex;
    height:90%;
    width: 50%;
    background-color: blueviolet;
    
}

.droite{
    display: flex;
    height:90%;
    width: 50%;
    background-color:brown ;
    
}