* {
    margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
    background-image: url(https://trello-backgrounds.s3.amazonaws.com/61669d04e6b6606d4d88b6cd/1280x720/215d5b3f9f69ae681023c94358ab3b89/Foret.png);
}