* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #555;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #333;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-family: "Cinzel";
    font-size: 50px;
}

h4 {
    font-size: 20px;
}

#main-flex {
    display: flex;
    height: 320vh;
    width: 100%;
    flex-direction: column;
    z-index: 1;
}

#main-page {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url("/ressources/img/Cassette.png");
    background-position: center;
    background-size: cover;
}

#div-button-container {
    display: flex;
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.a {
    font-family: "Cinzel";
    font-size: 40px;
    color: #fff;
    transition: 600ms;
}

.a:hover {
    text-decoration: underline;
}

#second-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    width: 100%;
    background-image: url("/ressources/img/Foret2.png");
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    background-position: center;
    background-size: cover;
}

.page-artist {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.s-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

.s-title {
    display: flex;
    color: white;
    font-family: "Cinzel";
    font-size: 50px;
    text-decoration: underline;
}

.s-mid {
    display: flex;
    height: 70%;
    width: 100%;
}

.s-artist {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 34%;
}

.s-a-etiquette {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: black;
    height: 65%;
    width: 65%;
    box-shadow: 5px 5px 2px;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 2%;
    transition: 600ms;
}

.s-a-etiquette:hover {
    height: 70%;
    width: 70%;
    background-color: antiquewhite;
}

.s-a-top {
    display: flex;
    justify-content: center;
    height: 30%;
    width: 100%;
}

.s-a-div-t {
    display: flex;
    justify-content: center;
    height: 30%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.25);
    align-items: center;
}

.s-a-title {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 150%;
    font-family: "Cinzel";
}

.s-a-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.s-a-img {
    display: flex;
    height: 60%;
}

.s-bot {
    display: flex;
    height: 15%;
    width: 100%;
}

.s-b-next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.next {
    display: flex;
    font-size: 60px;
    color: #fff;
    font-family: "Cinzel";
    transition: 300ms;
}

.next:hover {
    text-decoration: underline;
}

#third-page {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}