<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/ressources/css/artist.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <title>TEST</title>
</head>


<body>
    <div class="main-flex">
        <div class="haut">
            <div class="nav-bar">
                <a class="a" href="/">Home</a>
                <a class="a" href="/connection">Account</a>
                <a class="a" href="/contact">Contact</a>

            </div>
        </div>
        <div class="bas">
            <div class="section-artist">
                <div class="name-div">
                    <h2 class="name-div-title">Votre séléction :</h2>
                </div>
                <div class="scroll-artist">
                    {{range .ApiArtist}}
                    <a href="/artiste/{{.Id}}" class="artist">
                        <div class="img">
                            <img class="img-artist" src="{{.Image}}">
                        </div>
                        <div class="name">
                            <p class="scroll-artist-name">{{.Name}}</p>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>
            <div class="section-artist">
                <div class="name-div">
                    <h2 class="name-div-title">Ecouté récement :</h2>
                </div>
                <div class="scroll-artist">
                    {{range .ApiArtist}}
                    <a href="/artiste/{{.Id}}" class="artist">
                        <div class="img">
                            <img class="img-artist" src="{{.Image}}">
                        </div>
                        <div class="name">
                            <p class="scroll-artist-name">{{.Name}}</p>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>
            <div class="section-artist">
                <div class="name-div">
                    <h2 class="name-div-title">Vos amis ecoutent :</h2>
                </div>
                <div class="scroll-artist">
                    {{range .ApiArtist}}
                    <a href="/artiste/{{.Id}}" class="artist">
                        <div class="img">
                            <img class="img-artist" src="{{.Image}}">
                        </div>
                        <div class="name">
                            <p class="scroll-artist-name">{{.Name}}</p>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>
            <div class="section-artist">
                <div class="name-div">
                    <h2 class="name-div-title">Hip-hop/Rap :</h2>
                </div>
                <div class="scroll-artist">
                    {{range .ApiArtist}}
                    <a href="/artiste/{{.Id}}" class="artist">
                        <div class="img">
                            <img class="img-artist" src="{{.Image}}">
                        </div>
                        <div class="name">
                            <p class="scroll-artist-name">{{.Name}}</p>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>
            <div class="section-artist">
                <div class="name-div">
                    <h2 class="name-div-title">Nouveaux artistes :</h2>
                </div>
                <div class="scroll-artist">
                    {{range .ApiArtist}}
                    <a href="/artiste/{{.Id}}" class="artist">
                        <div class="img">
                            <img class="img-artist" src="{{.Image}}">
                        </div>
                        <div class="name">
                            <p class="scroll-artist-name">{{.Name}}</p>
                        </div>
                    </a>
                    {{end}}
                </div>
            </div>






        </div>
    </div>


</body>

</html>