<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/ressources/css/creation.css" />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

    <title>Creation</title>
</head>

<body>
    <div class="main-page">
        <a class="back-to-home" href="/">back to Home</a>

        <div class="flex-page">
            <div class="form">
                <form action="/checkcreation" method="post">
                    <div id="userentry">
                        <div id="email">
                            <input type="text" name="mail" id="mail" placeholder="Enter e-mail" maxlength="160"> {{if .AccStruct.Connection.Verification.Mail}}
                            <p class="error">Mail inexistant</p>
                            {{end}}
                        </div>
                        <br>
                        <div id="password">
                            <input type="password" name="pwd" id="pwd" placeholder="Enter password" maxlength="64"> {{if .AccStruct.Connection.Verification.Password}}
                            <p class="error">Wrong password</p>
                            {{end}}
                        </div>
                        <br>
                        <div id="password">
                            <input type="password" name="pwdc" id="pwdc" placeholder="Confirm password" maxlength="64"> {{if .AccStruct.Connection.Verification.Password}}
                            <p class="error">Wrong password</p>
                            {{end}}
                            <p style="margin-top:10px; color: red;">{{if .AccStruct.Creation.Verification.Mail}} MAIL IS NOT ACCEPTED {{else if .AccStruct.Creation.Verification.Password}} PASSWORD MUST CONTAINS AT LEAST 6 CHARACTERS {{else if .AccStruct.Creation.Verification.PasswordCheck}}
                                PASSWORD CONFIRMATION DO NOT MATCH {{else if .AccStruct.Creation.Verification.AlreadyExist}} THE ACCOUNT ALREADY EXIST {{else}}{{end}}</p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="pipi">
                        <p>Already have an account? <a href="/connection">Sign in</a></p>
                    </div>
                    <br>
                    <div id="submit">
                        <label id="labelsubmit">
                            <input type="submit" value="">
                        </input>
                        </label>
                    </div>
                </form>
            </div>
            <br>
            <div class="already-account">
                <br>
            </div>
        </div>
    </div>
</body>