<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/ressources/css/style.css" />
    <link rel="stylesheet" href="/ressources/css/searchbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <title>TEST</title>
</head>

<body>

    <div id="main-flex">
        <div id="main-page">
            <div id="div-button-container">
                <ul id="liste-items">
                    <li><a class="a" href="#second-page">ARTISTE</a></li>
                    <li><a class="a" href="#third-page">EVENT</a></li>
                    <li><a class="a" href="/contact">CONTACT</a></li>
                    <li><a class="a" href="/connection">CONNECTION</a></li>
                </ul>
            </div>
        </div>
        <div id="second-page">
            <div class="page-artist">
                <div class="s-top">
                    <h3 class="s-title">Top Artist </h3>
                </div>
                <div class="s-mid">
                    {{range .ApiStruct.TabApiArtiste }} {{if (lt .Id 4)}}
                    <div class="s-artist">
                        <a href="/artiste/{{.Id}}" class="s-a-etiquette">
                            <div class="s-a-top">
                                <div class="s-a-div-t">
                                    <h3 class="s-a-title">{{.Name}}</h3>
                                </div>
                            </div>
                            <div class="s-a-bot">
                                <img class="s-a-img" src="{{.Image}}">
                            </div>
                        </a>
                    </div>
                    {{end}}{{end}}
                </div>
                <div class="s-bot">

                    <div class="search_bar">
                        <form action="/search" class="search-bar" method="post" onChange="submit()">
                            <input class="search__input" list="Artists" display="none" type="text" name="search-artist" placeholder="Search">
                            <datalist id="Artists">
                                {{range .ApiStruct.TabApiArtiste}} 
                                <option value= "{{.Name}}">{{.CreationDate}} - {{.FirstAlbum}} - {{range .Members}} {{.}} {{end}}</option>
                                {{end}}
                            </datalist>
                        </form>
                    </div>
                    <a href="/artiste" class="next">Next</a>
                </div>
            </div>

        </div>
        <div id="third-page">
            <h1 class="test">EVENT</h1>

        </div>
    </div>

</body>

</html>