<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/ressources/css/profil.css"/>
    <title>Profil</title>
</head>
<body>
   {{if .AccStruct.ProfilParameters.Name.NameIsOk}}
    {{ .AccStruct.ProfilParameters.Profil.User.EntireName}}
    <form action="/pseudo" method="get">
        <input type="text" name="name" id="name">
        <input type="text" name="hashtag" id="hashtag">
        <input type="submit" value="Submit !">
    </form>
    {{if .AccStruct.ProfilParameters.Name.AlreadyExist}}
    EXISTE DEJA
    {{else if .AccStruct.ProfilParameters.Name.LengthNameInf}}
    NOM TROP COURT
    {{else if .AccStruct.ProfilParameters.Name.LengthNameSup}}
    NOM TROP LONG
    {{else if .AccStruct.ProfilParameters.Name.LengthNumbers}}
    4 Chiffres / Lettres nécessaire pour le hashtag
    {{end}}
    <br>
    <br>
    <br>
    Ajouter un ami
    <form action="/addfriend" method="get">
        <input type="text" name="name" id="name">
        <input type="submit" value="Submit !">
    </form>
    <br>
    {{if .AccStruct.ProfilParameters.Friends.NotExist}}
    Il existe pas
    {{else if .AccStruct.ProfilParameters.Friends.AlreadyHave}}
    Tu l'as déjà
    {{else if .AccStruct.ProfilParameters.Friends.ThatsU}}
    Un jour, tu découvriras ce qu'est l'amitié...
    {{end}}
    {{range .AccStruct.ProfilParameters.Friends.Friends}}
    <a href="/profil/{{.Id}}">{{.Profil.EntireName}}</a>
    <br>
    {{end}}
    Choose who can see ur profil :
    <form action="/showprofil" method="get" onChange="submit()">
        {{if .AccStruct.ProfilParameters.Profil.Parameters.PublicAccount}}
        <input type="radio" name="Profil" value="PublicProfil" checked>
        <label>Everyone</label>
        <br>
        <input type="radio" name="Profil" value="FriendsProfil">
        <label>Friends</label>
        {{else}}
        <input type="radio" name="Profil" value="PublicProfil">
        <label>Everyone</label>
        <br>
        <input type="radio" name="Profil" value="FriendsProfil" checked>
        <label>Friends</label>
        {{end}}
    </form>
    <br>
    Choose who can see ur friends :
    <form action="/showprofil" method="get" onChange="submit()">
        {{if .AccStruct.ProfilParameters.Profil.Parameters.PublicFriends}}
        <input type="radio" name="Profil" value="PublicFriends" checked>
        <label>Everyone</label>
        <br>
        <input type="radio" name="Profil" value="Friends">
        <label>Friends</label>
        <br>
        <input type="radio" name="Profil" value="PrivateFriends">
        <label>None</label>
        {{else if .AccStruct.ProfilParameters.Profil.Parameters.OnlyFriendsFriends}}
        <input type="radio" name="Profil" value="PublicFriends">
        <label>Everyone</label>
        <br>
        <input type="radio" name="Profil" value="Friends" checked>
        <label>Friends</label>
        <br>
        <input type="radio" name="Profil" value="PrivateFriends">
        <label>None</label>
        {{else}}
        <input type="radio" name="Profil" value="PublicFriends">
        <label>Everyone</label>
        <br>
        <input type="radio" name="Profil" value="Friends">
        <label>Friends</label>
        <br>
        <input type="radio" name="Profil" value="PrivateFriends" checked>
        <label>None</label>
        {{end}}
    </form>
    {{range .AccStruct.ProfilParameters.Artists.Artists}}
    {{.Id}} {{.Name}}
    <br>
    {{end}}

   {{else}}
   CHOISIR UN PSEUDO POSSEDANT UN HASHTAG (ex: CezGain 16G1)
    <form action="/pseudo" method="get">
        <input type="text" name="name" id="name">
        <input type="text" name="hashtag" id="hashtag">
        <input type="submit" value="Submit !">
    </form>
    {{if .AccStruct.ProfilParameters.Name.AlreadyExist}}
    EXIST DEJA
    {{else if .AccStruct.ProfilParameters.Name.LengthNameInf}}
    NOM TROP COURT
    {{else if .AccStruct.ProfilParameters.Name.LengthNameSup}}
    NOM TROP LONG
    {{else if .AccStruct.ProfilParameters.Name.LengthNumbers}}
    4 Chiffres / Lettres nécessaire pour le hashtag
    {{end}}
   {{end}}
</body>