<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/ressources/css/profil.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

    <title>Profil</title>
</head>
<body>
    {{if .AccStruct.ProfilParameters.Name.NameIsOk}}
    <div class="main-page">
        <div class="banner-div" style="background-image: url({{.AccStruct.ProfilParameters.Profil.User.Banner}});">
            <img src="{{.AccStruct.ProfilParameters.Profil.User.PP}}" class="PP">
            <button class="settings"><i class="material-icons">settings</i></button>
        </div>
        <div class="content">
            <p class="name">{{ .AccStruct.ProfilParameters.Profil.User.EntireName}}</p>
            <div class="content-name">

                
                <div class="liked-art">   
                    <div class="art-liké">Liste d'artistes liké</div>
                    <div class="liked-img-div">
                        {{range .AccStruct.ProfilParameters.Artists.Artists}}
                        <a href="/artiste/{{.Id}}" class="artist-a">
                            <img class="liked-img" src="{{.Image}}">
                        {{end}}
                    </div>
                </div>
            <div class="right-part">
                Changer profil picture
                <form action="/pp" method="get">
                    <input type="text" name="image" id="image">
                </form>

                <br>
                Changer banner
                <form action="/banner" method="get">
                    <input type="text" name="image" id="image">
</form>
    <br>
    Changer de pseudo
    <form action="/pseudo" method="get">
        <input type="text" name="name" id="name">
        <input type="text" name="hashtag" id="hashtag">
        <input type="submit" value="Submit !">
    </form>
    {{if .AccStruct.ProfilParameters.Name.AlreadyExist}}
    EXISTE DEJA
    {{else if .AccStruct.ProfilParameters.Name.LengthNameInf}}
    NOM TROP COURT
    {{else if .AccStruct.ProfilParameters.Name.LengthNameSup}}
    NOM TROP LONG
    {{else if .AccStruct.ProfilParameters.Name.LengthNumbers}}
    4 Chiffres / Lettres nécessaire pour le hashtag
    {{end}}
    <br>
    <br>
    <br>
    Ajouter un ami
    <form action="/addfriend" method="get">
        <input type="text" name="name" id="name">
        <input type="submit" value="Submit !">
    </form>
    <br>
    {{if .AccStruct.ProfilParameters.Friends.NotExist}}
    Il existe pas
    {{else if .AccStruct.ProfilParameters.Friends.AlreadyHave}}
    Tu l'as déjà
    {{else if .AccStruct.ProfilParameters.Friends.ThatsU}}
    Un jour, tu découvriras ce qu'est l'amitié...
    {{end}}
    <br>
    Liste d'amis
    {{range .AccStruct.ProfilParameters.Friends.Friends}}
    <a href="/profil/{{.Id}}">{{.Profil.EntireName}}</a>
    <br>
    <br>
    {{end}}
    Choose who can see ur profil :
    <form action="/showprofil" method="get" onChange="submit()">
        {{if .AccStruct.ProfilParameters.Profil.Parameters.PublicAccount}}
        <input type="radio" name="Profil" value="PublicProfil" checked>
        <label>Everyone</label>
        <br>
        <input type="radio" name="Profil" value="FriendsProfil">
        <label>Friends</label>
        {{else}}
        <input type="radio" name="Profil" value="PublicProfil">
        <label>Everyone</label>
        <br>
        <input type="radio" name="Profil" value="FriendsProfil" checked>
        <label>Friends</label>
        {{end}}
    </form>
    <br>
    Choose who can see ur friends :
    <form action="/showprofil" method="get" onChange="submit()">
        {{if .AccStruct.ProfilParameters.Profil.Parameters.PublicFriends}}
        <input type="radio" name="Profil" value="PublicFriends" checked>
        <label>Everyone</label>
        <br>
        <input type="radio" name="Profil" value="Friends">
        <label>Friends</label>
        <br>
        <input type="radio" name="Profil" value="PrivateFriends">
        <label>None</label>
        {{else if .AccStruct.ProfilParameters.Profil.Parameters.OnlyFriendsFriends}}
        <input type="radio" name="Profil" value="PublicFriends">
        <label>Everyone</label>
        <br>
        <input type="radio" name="Profil" value="Friends" checked>
        <label>Friends</label>
        <br>
        <input type="radio" name="Profil" value="PrivateFriends">
        <label>None</label>
        {{else}}
        <input type="radio" name="Profil" value="PublicFriends">
        <label>Everyone</label>
        <br>
        <input type="radio" name="Profil" value="Friends">
        <label>Friends</label>
        <br>
        <input type="radio" name="Profil" value="PrivateFriends" checked>
        <label>None</label>
        {{end}}
    </form>
    <br>
    <br>
            </div>
        </div>
    </div>
</div>






{{else}}
CHOISIR UN PSEUDO POSSEDANT UN HASHTAG (ex: CezGain 16G1)
<form action="/pseudo" method="get">
    <input type="text" name="name" id="name">
        <input type="text" name="hashtag" id="hashtag">
        <input type="submit" value="Submit !">
    </form>
    {{if .AccStruct.ProfilParameters.Name.AlreadyExist}}
    EXIST DEJA
    {{else if .AccStruct.ProfilParameters.Name.LengthNameInf}}
    NOM TROP COURT
    {{else if .AccStruct.ProfilParameters.Name.LengthNameSup}}
    NOM TROP LONG
    {{else if .AccStruct.ProfilParameters.Name.LengthNumbers}}
    4 Chiffres / Lettres nécessaire pour le hashtag
    {{end}}
   {{end}}
</body>